*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6ecf0;
    font-family:  Helvetica,Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
.content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;

}
header#main-header .content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#main-header{
    height: 46px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    position: relative;
    z-index: 1;
}
header#main-header nav ul{
    display: flex;
    list-style: none;
    
}
header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    margin-left: 25px;
}
header#main-header nav ul li:first-child{
    margin-left: 0px;
}
header#main-header nav ul li img{
    width: 16px;
    margin-right: 6px;
}
header#main-header img{
    width: 25px;
    transition: transform .2s;
}

header#main-header img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

header#main-header div.side{
    display: flex;
}
header#main-header div.side input {
    width: 220px;
    background: #f5f8fa;
    border: 1px solid #e6ecf0;
    height: 34px;
    padding: 0 30px 0 12PX;
    border-radius: 16px;
    font-size: 12px;
    color: #667581;
    background: url('./assents/search.svg') no-repeat 190px;
    background-size: 15px; 
}
input, button {
    outline: 0;
}
header#main-header div.side button{
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 16px;
    height: 34px;
    background: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}
header#main-header div.side img{
    height: 34px;
    width: 34px;
    margin: 0 15px;
    border-radius: 50%;
}
div.banner{
    display: flex;
    align-items: center;
    justify-content: center; 

    height: 300px;
    width: 100%;
    background: #3bb9e3;
}
div.banner h1{
    font-size: 25px;
    color: #fff;
}
div.bar{
    height: 59px;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
div.bar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%;
}
div.bar .content ul{
    display: flex;
    list-style: none;
    height: 100%;
}
div.bar .content ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
}
div.bar .content ul li.active::after{
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3bb9e3
}
div.bar .content ul li.active strong{
    color: #3bb9e3;
}
div.bar .content ul li span{
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}
div.bar .content ul li strong{
    color: #667580;
    font-size:18px;
    font-weight: bold;
    margin-top:2px ;
}
div.bar .content .actions {
    display: flex;
}
div.bar .content .actions button{
    height: 34px;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px; 
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    border: 1px solid #3bb9e3;
    background-color: transparent;
    border-radius: 16px;
    margin-right: 20px;
    transition: transform .2s;
}
div.bar .content .actions button:hover{
    transform: scale(1.05);
    color: #fff;
    border: 1px solid #3bb9e3;
    background-color: #3bb9e3;
    cursor: pointer;
}
div.bar .content .actions img{
    width: 28px;
    cursor: pointer;
}
div.wrapper-content {
    display: flex;

}
div.wrapper-content aside.profile{
    width: 260px;
}
div.wrapper-content aside.profile img#avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -130px; 
}
div.wrapper-content aside.profile  h1{
    font-size: 21px;
    color: #1f2226;
    margin-top: 20px;
}
div.wrapper-content aside.profile  span{
    font-size: 14px;
    color: #53626c;
}
div.wrapper-content aside.profile  p{
    font-size: 14px;
    color: #1f2226;
    margin-top: 15px;
}
div.wrapper-content aside.profile  ul{
    margin-top: 20px;
    list-style: none;
}
div.wrapper-content aside.profile li{
    font-size: 14px;
    color: #657786;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
div.wrapper-content aside.profile li img{
    margin-right: 10px;
    
}
div.wrapper-content aside.profile .widget {
    margin-top: 25px;
  
}
div.wrapper-content aside.profile .widget strong{
    font-weight: normal;
    color: #3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}
div.wrapper-content aside.profile .widget strong img{
    margin-right: 10px;
}
div.wrapper-content aside.profile .followers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
div.wrapper-content aside.profile .followers ul li{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #d0d5d9;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 5px;
}
div.wrapper-content aside.profile .images ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
div.wrapper-content aside.profile .images ul li{
    width: 80px;
    height: 80px;
    background: #d0d5d9;
    border-radius: 4px;
    flex-shrink: 0;
    margin-right: 5px;
}

div.wrapper-content section.timeline{
    flex: 1;
    background: #fff;
    margin: 10px 20px;
}
div.wrapper-content section.timeline nav{
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}
div.wrapper-content section.timeline nav a{
    text-decoration: none;
    font-size: 18px;
    color: #3bb9e3;
    font-weight: bold;
    margin-left: 20px;
}
div.wrapper-content section.timeline nav a:first-child{
    color: #000;
    margin: 0;
}
div.wrapper-content section.timeline  ul.tweets{
    list-style: none;
}
div.wrapper-content section.timeline  ul.tweets li{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
    display: flex;
}
div.wrapper-content section.timeline  ul.tweets li > img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
div.wrapper-content section.timeline  ul.tweets li .info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
div.wrapper-content section.timeline  ul.tweets li .info strong{ 
    font-size: 14px;
    color: #1f2226;
}
div.wrapper-content section.timeline  ul.tweets li .info img{
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
    border-radius: 2px;
}
div.wrapper-content section.timeline  ul.tweets li .info strong span{ 
    font-size: 13px;
    font-weight: normal;
    color: #7b8b9a;
}
div.wrapper-content section.timeline  ul.tweets li .info p{ 
    font-size: 14px;
    color: #1f2226;
    margin-top: 10px;
}
div.wrapper-content section.timeline  ul.tweets li .actions{
    display: flex;
    margin-top: 20px;
}
div.wrapper-content section.timeline  ul.tweets li .actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin-right: 15px;
}
div.wrapper-content section.timeline  ul.tweets li .actions a img{
    width: 20px;
    margin-right: 5px;
}

div.wrapper-content aside.widgets {
    width: 290px;
    margin-top: 10px;
}
div.wrapper-content aside.widgets .widget{
    background-color: #fff;
    padding: 15px;
}
div.wrapper-content aside.widgets .widget .title{
    display: flex;
    align-items: baseline;
}
div.wrapper-content aside.widgets .widget .title strong {
    font-size: 18px;
    color: #1f2226;
    margin-right: 10px;
}
div.wrapper-content aside.widgets .widget .title a{
    color:#3bb9e3;
    font-size: 12px;  
    margin-right: 8px; 
    text-decoration: none;
    position: relative;
    padding-left: 10px;
}
div.wrapper-content aside.widgets .widget .title a::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background: #222;
    position: absolute;
    left: 0;
    top: 5px;

}
div.wrapper-content aside.widgets .follow ul{
    list-style: none;
    margin-top: 15px;
}
div.wrapper-content aside.widgets .follow ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc6dd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
div.wrapper-content aside.widgets .follow ul li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}
div.wrapper-content aside.widgets .follow ul li .profile{
    display: flex;
    align-items: center;
}
div.wrapper-content aside.widgets .follow ul li .profile img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
div.wrapper-content aside.widgets .follow ul li .profile .info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
div.wrapper-content aside.widgets .follow ul li .profile .info strong {
 font-size: 14px;
 color: #1f2226;
}
div.wrapper-content aside.widgets .follow ul li .profile .info span{
    font-weight: normal;
    color: #9a9a9a;
}
div.wrapper-content aside.widgets .follow ul li .profile .info button{
    height: 27px;  
    display: flex;
    align-items: center;
    justify-content: center;     
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    border: 1px solid #3bb9e3;
    background-color: transparent;
    border-radius: 16px;
    margin-top: 5px;
    cursor: pointer;
}
div.wrapper-content aside.widgets .follow ul li a{
    text-decoration: none;
    color: #53626c;
    font-size: 14px;
}